body {
  background-color: darkcyan;
  background-color: hsl(185, 75%, 39%);
  position: relative;
}

hr {
  position: absolute;
  bottom: 60px;
  width: 100%;
  border: 0;
height: 0;
border-top: 1px solid rgba(0, 0, 0, 0.1);
border-bottom: 1px solid rgba(255, 255, 255, 0.3);
padding-bottom: 10px;
}

.background-img {
  position: relative;
  right: 400px;
  bottom: 350px;
  display: inline-block;
}

.second-background-img {
  position: relative;
  left: 600px;
  bottom: 600px;
  display: inline-block;
}

.card {
  background-color: white;
  height: 350px;
  width: 310px;
  border-radius: 6%;
  position: absolute;
  top: 150px;
  right: 500px;
}

.card-img {
  width: 310px;
  border-top-right-radius: 6%;
  border-top-left-radius: 6%;
}

.victor-image {
  border-radius: 50%;
  position: absolute;
  top: 80px;
  right: 110px;
  background-color: white;
  padding: 4px;
  border: 1px solid white;
}

.name {
  display: inline-block;
  width: 50%;
  position: absolute;
  top: 180px;
  left: 90px;
  padding-top: 10px;
  color: #202040;
  color: hsl(229, 23%, 23%);
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.age {
  display: inline-block;
  width: 20%;
  position: absolute;
  top: 195px;
  right: 45px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  color: #101010;
  color: hsl(0, 0%, 59%);
}

.city {
  display: inline-block;
  width: 20%;
  position: absolute;
  top: 220px;
  left: 120px;
  padding-top: 5px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  color: #101010;
  color: hsl(0, 0%, 59%);
  font-size: 13px;
}

.followers {
  display: inline-block;
  width: 20%;
  position: absolute;
  top: 280px;
  left: 30px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #202040;
  color: hsl(229, 23%, 23%);
}

.followers-text {
  display: inline-block;
  width: 20%;
  position: absolute;
  top: 303px;
  left: 25px;
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  color: #101010;
  color: hsl(0, 0%, 59%);
  font-size: 11px;
}

.likes {
  display: inline-block;
  width: 20%;
  position: absolute;
  top: 280px;
  left: 115px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #202040;
  color: hsl(229, 23%, 23%);
}

.likes-text {
  display: inline-block;
  width: 20%;
  position: absolute;
  top: 303px;
  left: 125px;
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  color: #101010;
  color: hsl(0, 0%, 59%);
  font-size: 11px;
}

.photos {
  display: inline-block;
  width: 20%;
  position: absolute;
  top: 280px;
  left: 210px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #202040;
  color: hsl(229, 23%, 23%);
}

.photos-text {
  display: inline-block;
  width: 20%;
  position: absolute;
  top: 303px;
  left: 215px;
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  color: #101010;
  color: hsl(0, 0%, 59%);
  font-size: 11px;
}

.attribution {
  position: absolute;
  bottom: 50px;
}
